<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/x-icon" href="<%= context.config.publicPath %>favicon.png" />
  <title>碧道工程建设管理</title>
  <link rel="stylesheet" href="<%= context.config.publicPath + 'styles/reset.css'%>" />
</head>

<body>
  <div id="root"></div>
</body>

</html>
